#menu {
    width: 40vw;
    text-align: center;
}

#logo {
    width: 20vw;
    align-content: center;
    text-align: center;
}

#placeholder {
    width: 40vw;
    text-align: center;
}

.embed-content {
    margin: 0;
    padding: 0;
    border: none;
    height: 75vh;
    width: 60vw;
}

img {
    pointer-events: none;
}


body {
    padding: 0;
    margin: 0;
    font-size: 1em;
    background-color: black;
    height: 100%;
    font-family: sans-serif;
    color: white;
    vertical-align: top;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

body header, body footer {
    flex-grow: 0;
    flex-shrink: 0;
    max-height: 20vh;
}

body .page-content {
    flex-grow: 1;
    max-height: 90vh;
    margin-bottom: auto;
    display: block;
}

footer {
    text-align: center;
    font-size: 0.5em;
    flex-wrap: wrap;
    letter-spacing: 0.35em;
    clear: both;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30em;
    height: 4vh;
    vertical-align: middle;
}

.menu-item {
    vertical-align: middle;
    font-size: 1em;
    text-align: center;
    padding: 0px 2vw 0px 2vw;
    color: grey;
}

.menu-item:hover {
    color: white;
    font-size: 1.25em;
    transition: 0.2s;
}

.menu-item:not(:hover) {
    color: grey;
    font-size: 1em;
    transition: 0.2s;
}

a {
    color: white;
    text-decoration: none;
}

body h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-weight: lighter;
    letter-spacing: 0.2em;
}

body h2 {
    padding: 0 0 5vh 5vh;
    margin: 0;
    color: grey;
    font-weight: bold;
    font-style: italic;
}

.page-content p {
    padding: 0.5em 5vh 1em 5vh;
    margin: 0;
    font-weight: lighter;
    color: grey;
    letter-spacing: 0.1em;
}

body p a {
    color: grey;
}

body p a:hover {
    color: white;
    font-size: 1.2em;
    transition: 0.2s;
}

body p a:not(:hover) {
    color: grey;
    font-size: 1em;
    transition: 0.1s;
}

.description {
    padding: 0 20vh 0 20vh;
    text-align: center;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 877px;
    aspect-ratio: auto;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    padding: 10vh 7.5vw 10vh 7.5vw;
}
 
.project {
    position: relative;
    display: inline-block;
    margin: 1vh 1vh 1vh 1vh;
    flex: 1;
    min-width: 40%;
    cursor: pointer;
}

.project-gallery-image {
    display: block;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    object-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgb(74, 74, 74);
    background: rgba(74, 74, 74, 0.5);
}

.project:hover .overlay {
    opacity: 1;
}

.project-desc {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding: 10vh 7.5vw 10vh 7.5vw;
}

.gallery-image {
    display: block;
    min-height: 50vh;
    max-height: 85vh;
    aspect-ratio: auto;
    object-fit: cover;
    object-position: center;
    margin: 1vh 1vh 1vh 1vh;
    cursor: zoom-in;
}